@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: #121213;
}

.btn1 {
  background: #0c2f60;
  border-radius: 8px;
  padding: 10px 30px;
  color: white;
}

.btn1:hover {
  background: white;
  color: rgb(22, 22, 126);
}

.outline {
  outline-color: rgb(15, 15, 78);
}

.outline:hover {
  outline-color: white;
}

.skills:first-child {
  background: #290ccb;
}

.service-card {
  width: auto;
  height: 338px;
  background: transparent;
  border: 3px solid #290ccb;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
  border-radius: 16px;
}

.service-card:nth-child(even){
  border: 3px solid white;
}

.service-card:hover{
  border-color: deepskyblue;
}

@media (min-width: 650px) {
  .custom-home {
    height: 120vh;
  }
}
@media (min-width: 768px ) {
  .custom-home {
    height: 60vh;
  }
}
@media (min-width: 1000px) {
  .custom-home {
    height: 60vh;
  }
}
@media (min-width: 1100px) {
  .custom-home {
    height: 60vh;
  }
}

.skills {
  /* ... existing styles ... */
  color: #fff; /* Set the initial text color */

  /* Add these transition properties to smoothly transition the color */
  transition-property: transform, background-color, color;
  transition-duration: 0.3s; /* Adjust the duration as needed */
  transition-timing-function: ease-in-out;
  transform-origin: center bottom;
  transform: translateY(0);
}

.skills.hovered {
  background: rgb(22, 22, 126);
  transform: translateY(-10px); /* Adjust the translation as needed */
  color: #47b9ee; /* Change to your primary color */
}

.skills.hovered p {
  color: #47b9ee;
  
}