@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: #121213;
}

.btn1 {
  background: #0c2f60;
  border-radius: 8px;
  padding: 10px 30px;
  color: white;
}

.btn1:hover {
  background: white;
  color: rgb(22, 22, 126);
}

.outline {
  outline-color: rgb(15, 15, 78);
}

.outline:hover {
  outline-color: white;
}

.skills:first-child {
  background: #290ccb;
}

.service-card {
  width: auto;
  height: 338px;
  background: transparent;
  border: 3px solid #290ccb;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
  border-radius: 16px;
}

.service-card:nth-child(even){
  border: 3px solid white;
}

.service-card:hover{
  border-color: deepskyblue;
}

@media (min-width: 650px) {
  .custom-home {
    height: 120vh;
  }
}
@media (min-width: 768px ) {
  .custom-home {
    height: 60vh;
  }
}
@media (min-width: 1000px) {
  .custom-home {
    height: 60vh;
  }
}
@media (min-width: 1100px) {
  .custom-home {
    height: 60vh;
  }
}

.skills {
  /* ... existing styles ... */
  color: #fff; /* Set the initial text color */

  /* Add these transition properties to smoothly transition the color */
  transition-property: transform, background-color, color;
  transition-duration: 0.3s; /* Adjust the duration as needed */
  transition-timing-function: ease-in-out;
  transform-origin: center bottom;
  transform: translateY(0);
}

.skills.hovered {
  background: rgb(22, 22, 126);
  transform: translateY(-10px); /* Adjust the translation as needed */
  color: #47b9ee; /* Change to your primary color */ /* Change to your primary color */
}

.skills.hovered p {
  color: #47b9ee;
  
}

.lighting-effect {
  transition: all 0.3s ease-out;
  position: relative;
  overflow: hidden;
}
.lighting-effect:hover {
  cursor: alias;
}
.lighting-effect:hover::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(66, 132, 179, 0.15);
  pointer-events: none;
  z-index: 1;
  transform: rotate(45deg);
  animation: lightingMove 1s;
  animation-fill-mode: forwards;
}

@keyframes lightingMove {
  0% {
      transform: translateX(-250%) rotate(45deg);
  }
  100% {
      transform: translateX(0%) rotate(45deg);
  }
}

/* extra glow on text hover */
.text-glow:hover {
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #5fb8de, 0 0 20px #444ce0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-card {
  width: 100%; /* Adjust the width as needed */
  margin: auto;
  display: flex;
  background-color: #0c2f60;
  border: 1px solid transparent;
  transition: border 0.3s, box-shadow 0.3s;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}
.project-card:hover {
  border: 3px solid #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.icon {
  display: flex;
  justify-content: space-around;
  padding: 5%;
}
.icon:hover {
  border: 2px solid #0c2f60;
  animation: shine 0.5s linear infinite; /* shining animation */
}

@keyframes shine {
  0% {
    background-color: #fff; /* Start with white background */
  }
  50% {
    background-color: #f7f7f7; /* Midway background color */
  }
  100% {
    background-color: #fff; /* End with white background */
  }
}

/* tooltip for the mouse */
.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}
